<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Administración | Pyzzeria</title>
     
            {# Cargamos la librería #}
       {% load bootstrap4 %}
     
       {# CSS Bootstrap #}
       {% bootstrap_css %}
     
     
    </head>
    <body>
            
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">HOLA PYZZERIA</h2>
            <div>
               <h5>HOLA</h5>
               

               <h1>{{ pedido.pedido_id }}</h1>
               <h1>{{ pedido.nombre_cliente }}</h1>
               <h1>{{ pedido.fecha_pedido }}</h1> 
               {% for pi in pedido.pizzas %} 
                   {{ pi.pizza_id }}
                   <br>
                   {{ pi.tamano_id.get_name }}
                   <br>
                   {{ pi.tamano_id.get_costo }}
                   <br>
                   {% for i in pi.ingredientes %}
                    <ul>
                        <li>Ingrediente: {{i.ingrediente_id.get_name}} Costo: {{i.ingrediente_id.get_costo}}</li>
                    </ul>
                   {% endfor %}  
               {% endfor %}  
            </div>            
            <!--/row-->
        <br><br><br><br>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
    <hr>
    <p class="text-center"><br>
        <a class="small text-info d-inline-block" >The Pizzeria Company</a>
    </p>
    
</div>
<!--/container-->
            {% bootstrap_javascript jquery='full' %}
    </body>
  </html>