
  <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Pedidos | Pyzzeria</title>
     
            {# Cargamos la librería #}
       {% load bootstrap4 %}
     
       {# CSS Bootstrap #}
       {% bootstrap_css %}
     
     
    </head>
    <body>
            
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">¡ Bienvenido a la Pyzzeria !</h2>
            <div class="row">
                

                <div class="col-md-10 offset-md-1">
                    <span class="anchor" id="formComplex"></span>
                    <hr class="my-5">
                    <h3>Comienza tu pedido . . .</h3>
                    <h3>Pedido #{{pedido_id}}</h3>
                
                
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <form action="{% url 'pedidos:pizza' %}" method="post">
                        {% csrf_token %}
                        <!-- form complex example -->
                        <div class="form-row mt-4">
                            <div class="col-md-8 pb-3">
                                <h5>Selecciona el tamaño de tu pizza</h5>
                                <div class="form-group big">
                                    {% for t in tamano %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="tam{{t.tamano_id}}" name="selTamano" value={{t.tamano_id}} class="custom-control-input">
                                        <label class="custom-control-label" for="tam{{t.tamano_id}}">{{t.nombre_tamano}} | {{t.costo_tamano}} UM</label>
                                    </div>
                                    {% endfor %}
                                    <!-- <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Grande
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Mediana
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline disabled">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled=""> Personal
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <div class="form-row mt-4"> -->
                                                        <!-- <label for="exampleMessage">Message</label>
                                <textarea class="form-control" id="exampleMessage"></textarea>
                                <small class="text-info">
                                Add the packaging note here.
                                </small> -->
                            <!-- </div> -->
                            <div class="col-12">
                                <h5>Selecciona que ingredientes deseas agregar</h5>

                                {% for i in ing %}
                                <div class="form-row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="ingredients" value={{i.ingrediente_id}} id="ing{{i.ingrediente_id}}">
                                        <label class="custom-control-label" for="ing{{i.ingrediente_id}}">{{i.nombre_ingrediente}} | {{i.costo_ingrediente}} UM</label>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- <div class="form-row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ingredientre2">
                                        <label class="custom-control-label" for="ingredientre2">Champinones</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ingredientre3">
                                        <label class="custom-control-label" for="ingredientre3">Pimenton</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ingredientre4">
                                        <label class="custom-control-label" for="ingredientre4">Doble queso</label>
                                    </div>
                                </div> -->
                            </div>
                            
                        </div>
                        <div class="form-row mt-4">
                            
                            <div class="col-12">
                                <input type="hidden" name="pedidoID" value="{{pedido_id}}">
                                <button type="submit" class="btn btn-info" name="action" value="add">Agregar y repetir</button>
                                <button type="submit" class="btn btn-success" name="action" value="end">Agregar y finalizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <!--/row-->
        <br><br><br><br>
            
        </div>
        <!--/col-->
    </div>
    <!--/row-->
    <hr>
    <p class="text-center"><br>
        <a class="small text-info d-inline-block" >The Pizzeria Company</a>
    </p>
    
</div>
<!--/container-->
            {% bootstrap_javascript jquery='full' %}
    </body>
  </html>